<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.StoreOverviewDao">

    <select id="storeSalesAchievedMonthly" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesAchievedYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_code as storeCode, store_name as storeName,
        goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,sale_cost as saleCost,
        sale_num as saleNum,sale_margin as saleMargin,different_amt as differentAmt,
        is_satisfy_code as isSatisfyCode,is_satisfy as isSatisfy
        from bi_total_sales_achieved_month
        where store_id = #{storeId} and stat_year_month = #{month}
    </select>

    <select id="storeSalesAchievedYear" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesAchievedYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_code as storeCode, store_name as storeName,
        goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,sale_cost as saleCost,
        sale_num as saleNum,sale_margin as saleMargin,different_amt as differentAmt,
        is_satisfy_code as isSatisfyCode,is_satisfy as isSatisfy
        from bi_total_sales_achieved_month
        where store_id = #{storeId} and stat_year = #{year}
    </select>

    <select id="storeSalesAchievedYearMonthly" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesAchievedDaily">
        select
        id,stat_year_month_day as statYearMonthDay,stat_year as statYear,stat_month as statMonth,stat_day as statDay,
        store_id as storeId,store_code as storeCode,store_name as storeName,
        goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,different_amt as differentAmt
        from bi_total_sales_achieved_day
        where store_id = #{storeId} and stat_year = #{year} and stat_month = #{month}
    </select>

    <select id="storeSalesAchievedYesterday" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesAchievedDaily">
        select
        id,stat_year_month_day as statYearMonthDay,stat_year as statYear,stat_month as statMonth,stat_day as statDay,
        store_id as storeId,store_code as storeCode,store_name as storeName,
        goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,different_amt as differentAmt
        from bi_total_sales_achieved_day
        where store_id = #{storeId} and stat_year = #{year} and stat_month = #{month} and stat_day = #{day}
    </select>


    <select id="storeEighteenSalesAchievedMonthly" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesAchievedYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_code as storeCode, store_name as storeName,
        goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,sale_cost as saleCost,
        sale_num as saleNum,sale_margin as saleMargin,different_amt as differentAmt,
        is_satisfy_code as isSatisfyCode,is_satisfy as isSatisfy
        from bi_month_18a_total_sale_month
        where store_id = #{storeId} and stat_year_month = #{month}
    </select>

    <select id="storeEighteenSalesAchievedYear" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesAchievedYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_code as storeCode, store_name as storeName,
        goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,sale_cost as saleCost,
        sale_num as saleNum,sale_margin as saleMargin,different_amt as differentAmt,
        is_satisfy_code as isSatisfyCode,is_satisfy as isSatisfy
        from bi_month_18a_total_sale_month
        where store_id = #{storeId} and stat_year = #{year}
    </select>

    <select id="storeEighteenSalesAchievedBrand" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSalesEighteenAchievedBrand">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_code as storeCode, store_name as storeName,brand_code as brandCode,
        brand_name as brandName,goal_sale_amt as goalSaleAmt,sale_amt as saleAmt,sale_cost as saleCost,
        sale_amt as saleAmt,sale_cost as saleCost,sale_num as saleNum,sale_margin as saleMargin,
        goal_sale_amt as goalSaleAmt,different_amt as differentAmt
        from bi_month_18a_brand_sale_month
        where store_id = #{storeId} and stat_year = #{year} and stat_month = #{month}
    </select>

    <select id="storeCustomerFlowMonthly" resultType="com.aiqin.mgs.order.api.domain.response.customer.CustomreFlowYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_name as storeName,total_customer_flow as totalCustomerFlow,goal_num as goalNum,different_num as differentNum
        from bi_customer_flow_monthly
        where store_id = #{storeId} and stat_year_month = #{month}
    </select>

    <select id="storeCustomerFlowYear" resultType="com.aiqin.mgs.order.api.domain.response.customer.CustomreFlowYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_name as storeName,total_customer_flow as totalCustomerFlow,goal_num as goalNum,different_num as differentNum
        from bi_customer_flow_monthly
        where store_id = #{storeId} and stat_year = #{year}
    </select>

    <select id="storeCustomerFlowYearMonthly" resultType="com.aiqin.mgs.order.api.domain.response.customer.CustomreFlowDaily">
        select
        id,stat_year_month_day as statYearMonthDay,stat_year as statYear,stat_month as statMonth,stat_day as statDay,
        store_id as storeId,store_name as storeName,total_customer_flow as totalCustomerFlow,goal_num as goalNum,different_num as differentNum
        from bi_customer_flow_daily
        where store_id = #{storeId} and stat_year = #{year} and stat_month = #{month}
    </select>

    <select id="storeTransforRateMonthly" resultType="com.aiqin.mgs.order.api.domain.response.conversionrate.StoreTransforRateYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_name as storeName,total_customer_flow as totalCustomerFlow,
        order_num as orderNum,goal_rate as goalRate,actual_transfor_rate as actualTransforRate
        from bi_store_transfor_rate_monthly
        where store_id = #{storeId} and stat_year_month = #{month}
    </select>

    <select id="storeTransforRateYear" resultType="com.aiqin.mgs.order.api.domain.response.conversionrate.StoreTransforRateYearMonth">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,
        store_id as storeId,store_name as storeName,total_customer_flow as totalCustomerFlow,
        order_num as orderNum,goal_rate as goalRate,actual_transfor_rate as actualTransforRate
        from bi_store_transfor_rate_monthly
        where store_id = #{storeId} and stat_year = #{year}
    </select>

    <select id="storeTransforRateYearMonthly" resultType="com.aiqin.mgs.order.api.domain.response.conversionrate.StoreTransforRateDaily">
        select
        id,stat_year_month_day as statYearMonthDay,stat_year as statYear,stat_month as statMonth,stat_day as statDay,
        store_id as storeId,store_name as storeName,total_customer_flow as totalCustomerFlow,
        order_num as orderNum,goal_rate as goalRate,actual_transfor_rate as actualTransforRate
        from bi_store_transfor_rate_daily
        where store_id = #{storeId} and stat_year = #{year} and stat_month = #{month}
    </select>

    <select id="storeSaleMargin" resultType="java.math.BigDecimal">
        select
        sale_margin as saleMargin
        from bi_month_sale_margin
        where store_id = #{storeId} and stat_year_month = #{month}
    </select>

    <select id="storeEighteenSaleMargin" resultType="java.math.BigDecimal">
        select
        sale_margin as saleMargin
        from bi_month_18a_sale_margin
        where store_id = #{storeId} and stat_year_month = #{month}
    </select>

    <select id="storeSaleMarginYear" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSaleMarginResp">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,store_id as storeId,store_name as storeName,
        sale_margin as saleMargin,last_month_margin as lastMonthMargin,last_year_margin as lastYearMargin,
        chain_growth as chainGrowth,year_on_year_growth as yearOnYearGrowth
        from bi_month_sale_margin
        where store_id = #{storeId} and stat_year = #{year}
    </select>

    <select id="storeEighteenSaleMarginYear" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSaleMarginResp">
        select
         id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,store_id as storeId,store_name as storeName,
        sale_margin as saleMargin,last_month_margin as lastMonthMargin,last_year_margin as lastYearMargin,
        chain_growth as chainGrowth,year_on_year_growth as yearOnYearGrowth
        from bi_month_18a_sale_margin
        where store_id = #{storeId} and stat_year = #{year}
    </select>

    <select id="storeOrderOverView" resultType="com.aiqin.mgs.order.api.domain.response.sales.StoreSaleOverViewResp">
        select
        id,stat_year_month as statYearMonth,stat_year as statYear,stat_month as statMonth,store_id as storeId,store_name as storeName,
        order_num as orderNum,sale_amt as saleAmt,last_month_sale_amt as lastMonthSaleAmt,last_year_sale_amt as lastYearSaleAmt,
        chain_growth as chaingrowth,year_on_year_growth as yearOnYearGrowth
        from bi_order_overview
        where store_id = #{storeId}
    </select>

    <select id="selectProductCountByStoreId" resultType="com.aiqin.mgs.order.api.domain.response.ProductLabelStatusResp">
        select count(distinct sku_code) as bestMember,(select count(distinct sku_code) from bi_product_overview where product_label_code=2 and store_id = #{storeId}) as unsalableMember
        from bi_product_overview
        where product_label_code=0 and store_id = #{storeId}
    </select>
    <select id="productBaseUnInfo" parameterType="com.aiqin.mgs.order.api.domain.request.ProductOverViewReq"
                resultType="com.aiqin.mgs.order.api.domain.response.ProductBaseUnResp">
        select
        sku_code skuCode,sku_name skuName,saleout_dgree saleoutDgree,sale_margin saleMargin,
        color_name colorName,spec,model_number modelNumber
        from bi_product_overview
        where store_id = #{storeId}
        <if test="categoryId != null and categoryId != ''" >
            and category_id like concat('',#{categoryId},'%')
        </if>
        order by
        <if test="productStatus != null and productStatus == 0" >
            saleout_dgree desc
        </if>
        <if test="productStatus != null and productStatus == 1" >
            saleout_dgree
        </if>
        <if test="productStatus != null and productStatus == 2" >
            sale_margin desc
        </if>
        limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="storeProductSku" parameterType="com.aiqin.mgs.order.api.domain.request.ProductSeachSkuReq"
            resultType="java.lang.String">
        select sku_code from bi_product_overview
        where store_id = #{storeId}
        <if test="status != null and status == 0">
            and product_label_code=0
        </if>
        <if test="status != null and status == 1">
            and product_label_code=2
        </if>
        group by sku_code
        limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="storeProductSkuCount" parameterType="com.aiqin.mgs.order.api.domain.request.ProductSeachSkuReq"
            resultType="java.lang.Integer">
        select count(DISTINCT sku_code) from bi_product_overview
        where store_id = #{storeId}
        <if test="status != null and status == 0">
            and product_label_code=0
        </if>
        <if test="status != null and status == 1">
            and product_label_code=2
        </if>
    </select>
    <select id="productStoreSaleoutDgree" parameterType="com.aiqin.mgs.order.api.domain.request.ProductOverViewReq"
            resultType="com.aiqin.mgs.order.api.domain.response.ProductBaseUnResp">
        select sku_code skuCode,saleout_dgree saleoutDgree,product_label_code productLabelCode,product_label productLabel
        from bi_product_overview
        where store_id = #{storeId}
        <if test="skuCodeList != null">
            and sku_code in (
            <foreach collection="skuCodeList" item="sku_code" separator=",">
                '${sku_code}'
            </foreach>
            )
        </if>
        order by saleout_dgree
        <if test="productSalabilityReorder != null and productSalabilityReorder == 0">
            desc
        </if>
        <if test="productSalabilityReorder != null and productSalabilityReorder == 1">
            asc
        </if>
        limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
</mapper>

