<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.CartDao">
    <resultMap id="CartInfoMapping" type="com.aiqin.mgs.order.api.domain.CartInfo">
    <result column="cart_id" jdbcType="VARCHAR" property="cartId"/>
    <result column="member_id" jdbcType="VARCHAR" property="memberId"/>
    <result column="member_name" jdbcType="VARCHAR" property="memberName"/>
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone"/>
    <result column="distributor_id" jdbcType="VARCHAR" property="distributorId"/>
    <result column="distributor_code" jdbcType="VARCHAR" property="distributorCode"/>
    <result column="distributor_name" jdbcType="VARCHAR" property="distributorName"/>
    <result column="product_id" jdbcType="VARCHAR" property="productId"/>
    <result column="product_name" jdbcType="VARCHAR" property="productName"/>
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
    <result column="amount" jdbcType="INTEGER" property="amount"/>
    <result column="logo" jdbcType="VARCHAR" property="logo"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    <result column="price" jdbcType="BIGINT" property="price"/>
    </resultMap>


    <!-- 会员下添加购物车 -->
    <insert id="insertCart" parameterType="com.aiqin.mgs.order.api.domain.CartInfo">
        
        insert into cart 
			(member_id,member_name,distributor_id,distributor_code,distributor_name,product_id,product_name,sku_code,amount,logo,create_time,update_time,create_by,update_by,price)
		values
		    (#{memberId},#{memberName},#{distributorId},#{distributorCode},#{distributorName},#{productId},#{productName},#{skuCode},#{amount},#{logo},CURRENT_TIMESTAMP,#{updateTime},#{createBy},#{updateBy},#{price})
    
    </insert>
    
    
    <!-- 查询会员下的购物车 -->
    <select id="selectCartByMemberId" parameterType="com.aiqin.mgs.order.api.domain.CartInfo" resultMap="CartInfoMapping" resultType="java.util.List">
    
         SELECT * FROM
         cart a
		 where 1=1
		 and a.member_id = #{memberId}
		 <if test=" distributorId != '' ">
         and distributor_id = #{distributorId}
         </if>
         ORDER BY a.create_time DESC 
         <if test="icount!=null ">
         limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
         </if>	
    </select>


    <!-- 删除购物车购物清单 -->
	<delete id="deleteCartInfoById" parameterType="com.aiqin.mgs.order.api.domain.CartInfo">
		
		delete from cart where 1=1
		and member_id = #{memberId}
		<if test="skuCodes != null" >
		     and sku_code in (
		  <foreach collection="skuCodes" item="sku_code" separator=",">
			 '${sku_code}'
		  </foreach>
			)
          </if>
         and distributor_id = #{distributorId}
     </delete>
     
    
    <!-- 清空购物车购物清单 -->
	<delete id="deleteCartInfo" >
		
		delete from cart where 1=1
          and member_id = #{memberId}
        
     </delete>
    
    <!-- 判断SKU商品是否已存在购物车中 -->
    <select id="isYesCart"  resultType="java.lang.String" parameterType="com.aiqin.mgs.order.api.domain.CartInfo">
    
         select SUM(amount) as amount from cart where 1=1
         and member_id =#{memberId} 
         and product_id = #{productId} 
         and sku_code = #{skuCode} 
         GROUP BY member_id,product_id,sku_code        
    </select>
    
	<!-- 更新购物车 -->
    <update id="updateCartById" parameterType="com.aiqin.mgs.order.api.domain.CartInfo">
          update cart set amount=#{amount} where 1=1
          and member_id = #{memberId}
          <if test=" distributorId != '' ">
          and distributor_id = #{distributorId}
          </if>
          and product_id = #{productId}
          and sku_code = #{skuCode}
    </update>
    
</mapper>

