<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.order.ErpOrderOperationLogDao">

    <select id="select" parameterType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderOperationLog"
            resultType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderOperationLog">
        select
        id as id,
        operation_code as operationCode,
        operation_type as operationType,
        source_type as sourceType,
        operation_content as operationContent,
        remark as remark,
        use_status as useStatus,
        create_by_id as createById,
        create_by_name as createByName,
        update_by_id as updateById,
        update_by_name as updateByName,
        create_time as createTime,
        update_time as updateTime
        from operation_log
        where 1 = 1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="operationCode != null and operationCode != ''">
            and operation_code = #{operationCode}
        </if>
        <if test="operationType != null and operationType != '' or operationType == 0 ">
            and operation_type = #{operationType}
        </if>
        <if test="sourceType != null and sourceType != '' or sourceType == 0 ">
            and source_type = #{sourceType}
        </if>
        <if test="useStatus != null and useStatus != '' or useStatus == 0 ">
            and use_status = #{useStatus}
        </if>
        order by create_time desc,id desc
    </select>

    <insert id="insert">
        insert into operation_log (operation_code, operation_type, source_type, operation_content, remark, use_status,
                                   create_by_id, create_by_name, update_by_id, update_by_name, create_time, update_time)
        values (#{operationCode}, #{operationType}, #{sourceType}, #{operationContent}, #{remark},
                #{useStatus}, #{createById}, #{createByName}, #{updateById}, #{updateByName}, #{createTime},
                #{updateTime})
    </insert>

</mapper>

