<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.order.ErpOrderPayDao">

    <select id="select" parameterType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderPay"
            resultType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderPay">
        select
        id as id,
        pay_id as payId,
        business_key as businessKey,
        pay_code as payCode,
        fee_type as feeType,
        pay_status as payStatus,
        pay_way as payWay,
        pay_fee as payFee,
        pay_start_time as payStartTime,
        pay_end_time as payEndTime,
        create_time as createTime,
        create_by_id as createById,
        create_by_name as createByName,
        update_time as updateTime,
        update_by_id as updateById,
        update_by_name as updateByName,
        status as status
        from order_store_pay
        where 1 = 1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0">
            and pay_status = #{payStatus}
        </if>
        <if test="payId != null and payId != ''">
            and pay_id = #{payId}
        </if>
        <if test="businessKey != null and businessKey != ''">
            and business_key = #{businessKey}
        </if>
        <if test="payCode != null and payCode != ''">
            and pay_code = #{payCode}
        </if>
        <if test="feeType != null and feeType != '' or feeType == 0">
            and fee_type = #{feeType}
        </if>
        <if test="payWay != null and payWay != '' or payWay == 0">
            and pay_way = #{payWay}
        </if>
        order by create_time desc
    </select>

    <update id="updateByPrimaryKeySelective">
        update order_store_pay
        set
        <if test="payStartTime != null">
            pay_start_time = #{payStartTime},
        </if>
        <if test="payEndTime != null">
            pay_end_time = #{payEndTime},
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0">
            pay_status = #{payStatus},
        </if>
        <if test="payWay != null and payWay != '' or payWay == 0">
            pay_way = #{payWay},
        </if>
        <if test="payCode != null and payCode != ''">
            pay_code = #{payCode},
        </if>
        update_by_id = #{updateById},
        update_by_name = #{updateByName},
        update_time = sysdate()
        where id = #{id}
    </update>

    <insert id="insert">
        insert into order_store_pay (pay_id, business_key, pay_code, fee_type, pay_status, pay_way,
                                     pay_fee, pay_start_time, pay_end_time, create_time, create_by_id,
                                     create_by_name, update_time, update_by_id, update_by_name)
        values (#{payId}, #{businessKey}, #{payCode}, #{feeType}, #{payStatus}, #{payWay},
                #{payFee}, #{payStartTime}, #{payEndTime}, sysdate(), #{createById},
                #{createByName}, sysdate(), #{updateById}, #{updateByName})
    </insert>

</mapper>

