<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.order.ErpOrderFeeDao">

    <select id="select" parameterType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderFee"
            resultType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderFee">
        select
        id as id,
        fee_id as feeId,
        order_id as orderId,
        pay_id as payId,
        pay_status as payStatus,
        total_money as totalMoney,
        activity_money as activityMoney,
        suit_coupon_money as suitCouponMoney,
        top_coupon_money as topCouponMoney,
        pay_money as payMoney,
        goods_coupon as goodsCoupon,
        create_time as createTime,
        create_by_id as createById,
        create_by_name as createByName,
        update_time as updateTime,
        update_by_id as updateById,
        update_by_name as updateByName,
        status as status
        from order_store_fee
        where 1 = 1
        and status = 1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="feeId != null and feeId != ''">
            and fee_id = #{feeId}
        </if>
        <if test="orderId != null and orderId != ''">
            and order_id = #{orderId}
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0">
            and pay_status = #{payStatus}
        </if>
        <if test="payId != null and payId != ''">
            and pay_id = #{payId}
        </if>
        order by create_time desc
    </select>

    <update id="updateByPrimaryKeySelective">
        update order_store_fee
        set
        <if test="payId != null and payId != ''">
            pay_id = #{payId},
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0">
            pay_status = #{payStatus},
        </if>
        <if test="goodsCoupon != null">
            goods_coupon = #{goodsCoupon},
        </if>
        <if test="totalMoney != null">
            total_money = #{totalMoney},
        </if>
        <if test="activityMoney != null">
            activity_money = #{activityMoney},
        </if>
        <if test="payMoney != null">
            pay_money = #{payMoney},
        </if>
        <if test="topCouponMoney != null">
            top_coupon_money = #{topCouponMoney},
        </if>
        <if test="suitCouponMoney != null">
            suit_coupon_money = #{suitCouponMoney},
        </if>
        update_by_id = #{updateById},
        update_by_name = #{updateByName},
        update_time = sysdate()
        where id = #{id}
    </update>

    <insert id="insert">
        insert into order_store_fee (fee_id, order_id, pay_id, pay_status, total_money, activity_money,
                                     suit_coupon_money, top_coupon_money, pay_money, goods_coupon,
                                     create_time, create_by_id, create_by_name, update_time, update_by_id,
                                     update_by_name)
        values (#{feeId}, #{orderId}, #{payId}, #{payStatus}, #{totalMoney}, #{activityMoney},
                #{suitCouponMoney}, #{topCouponMoney}, #{payMoney}, #{goodsCoupon},
                sysdate(), #{createById}, #{createByName}, sysdate(), #{updateById},
                #{updateByName})
    </insert>

</mapper>

