<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.OrderStoreOrderProductItemDao">

    <select id="selectOrderProductListByOrderId"
            parameterType="com.aiqin.mgs.order.api.domain.OrderStoreOrderProductItem"
            resultType="com.aiqin.mgs.order.api.domain.OrderStoreOrderProductItem">
        select id                     as id,
               order_id               as orderId,
               order_code             as orderCode,
               order_product_id       as orderProductId,
               sku_code               as skuCode,
               sku_name               as skuName,
               product_number         as productNumber,
               product_order_price    as productOrderPrice,
               tax_purchase_price     as taxPurchasePrice,
               order_money            as orderMoney,
               unit                   as unit,
               actual_deliver_num     as actualDeliverNum,
               actual_store_num       as actualStoreNum,
               original_product_price as originalProductPrice,
               share_after_price      as shareAfterPrice,
               create_time            as createTime,
               create_by_id           as createById,
               create_by_name         as createByName,
               update_time            as updateTime,
               update_by_id           as updateById,
               update_by_name         as updateByName
        from order_store_product_item
        where 1 = 1
          and order_id = #{orderId}
        order by create_time desc
    </select>

    <insert id="insert">
        insert into order_store_product_item (order_id, order_code, order_product_id, sku_code, sku_name,
                                              product_number, product_order_price, tax_purchase_price, order_money,
                                              unit,
                                              actual_deliver_num, actual_store_num, original_product_price,
                                              share_after_price, create_time, create_by_id, create_by_name,
                                              update_time, update_by_id, update_by_name)
        values (#{orderId}, #{orderCode}, #{orderProductId}, #{skuCode}, #{skuName}, #{productNumber},
                #{productOrderPrice}, #{taxPurchasePrice}, #{orderMoney}, #{unit}, #{actualDeliverNum},
                #{actualStoreNum},
                #{originalProductPrice}, #{shareAfterPrice}, sysdate(), #{createById}, #{createByName},
                sysdate(), #{updateById}, #{updateByName})
    </insert>

</mapper>
