<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.OrderStoreCartDao">

    <select id="findCartProductList" parameterType="com.aiqin.mgs.order.api.domain.OrderStoreCart"
            resultType="com.aiqin.mgs.order.api.domain.OrderStoreCart">
        select id as id,
        cart_id as cartId,
        product_id as productId,
        franchisee_id as franchiseeId,
        store_id as storeId,
        activity_id as activityId,
        product_name as productName,
        amount as amount,
        logo as logo,
        price as price,
        color as color,
        product_size as productSize,
        activity_name as activityName,
        create_by_id as createById,
        create_by_name as createByName,
        update_time as updateTime,
        update_by_id as updateById,
        update_by_name as updateByName,
        sku_id as skuId,
        spu_id as spuId,
        product_type as productType,
        create_time as createTime
        from order_store_cart
        where 1 = 1
        <if test="storeId != null and storeId != ''">
            and store_id = #{storeId}
        </if>
        <if test="productType != null and productType != ''">
            and product_type = #{productType}
        </if>
        order by create_time desc
    </select>

    <insert id="insert">
        insert into order_store_cart
        (cart_id, product_id, franchisee_id, store_id, activity_id, product_name, amount, logo, price, color,
         product_size, activity_name, sku_id, spu_id, product_type, create_source, product_gift, gift_parent_cart_id,
         line_check_status, create_time, create_by_id, create_by_name, update_time, update_by_id, update_by_name)
        values (#{cartId}, #{productId}, #{franchiseeId}, #{storeId}, #{activityId}, #{productName}, #{amount}, #{logo},
                #{price}, #{color}, #{productSize}, #{activityName}, #{skuId}, #{spuId}, #{productType},
                #{createSource}, #{productGift}, #{giftParentCartId}, #{lineCheckStatus}, sysdate(), #{createById},
                #{createByName}, sysdate(), #{updateById}, #{updateByName})
    </insert>

    <delete id="deleteByCartId">
        delete
        from order_store_cart
        where cart_id = #{cartId}
    </delete>

</mapper>

