<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.OrderStoreOrderInfoDao">

    <select id="select" parameterType="com.aiqin.mgs.order.api.domain.OrderStoreOrderInfo"
            resultType="com.aiqin.mgs.order.api.domain.OrderStoreOrderInfo">
        select id as id,
        order_id as orderId,
        order_code as orderCode,
        order_status as orderStatus,
        before_cancel_status as beforeCancelStatus,
        order_origin_type as orderOriginType,
        order_channel as orderChannel,
        supplier_code as supplierCode,
        supplier_name as supplierName,
        repertory_code as repertoryCode,
        repertory_name as repertoryName,
        return_status as returnStatus,
        pay_status as payStatus,
        order_type as orderType,
        franchisee_id as franchiseeId,
        store_id as storeId,
        store_name as storeName,
        total_price as totalPrice,
        actual_price as actualPrice,
        order_level as orderLevel,
        split_status as splitStatus,
        primary_code as primaryCode,
        goods_coupon as goodsCoupon,
        sending_id as sendingId,
        create_time as createTime,
        create_by_id as createById,
        create_by_name as createByName,
        update_time as updateTime,
        update_by_id as updateById,
        update_by_name as updateByName
        from order_store_info
        where 1 = 1
        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="orderId != null and orderId != ''">
            and order_id = #{orderId}
        </if>
        <if test="orderCode != null and orderCode != ''">
            and order_code = #{orderCode}
        </if>
        <if test="sendingId != null and sendingId != ''">
            and sending_id = #{sendingId}
        </if>
        <if test="orderStatus != null and orderStatus != '' or orderStatus == 0">
            and order_status = #{orderStatus}
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0">
            and pay_status = #{payStatus}
        </if>
        <if test="orderType != null and orderType != '' or orderType == 0">
            and order_type = #{orderType}
        </if>
        <if test="splitStatus != null and splitStatus != '' or splitStatus == 0">
            and split_status = #{splitStatus}
        </if>
        <if test="beforeCancelStatus != null and beforeCancelStatus != '' or beforeCancelStatus == 0">
            and before_cancel_status = #{beforeCancelStatus}
        </if>
        <if test="storeId != null and storeId != ''">
            and store_id = #{storeId}
        </if>
        order by create_time desc
    </select>

    <update id="updateByPrimaryKeySelective">
        update order_store_info
        set
        <if test="orderStatus != null and orderStatus != '' or orderStatus == 0">
            order_status = #{orderStatus},
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0">
            pay_status = #{payStatus},
        </if>
        <if test="returnStatus != null and returnStatus != '' or returnStatus == 0">
            return_status = #{returnStatus},
        </if>
        <if test="splitStatus != null and splitStatus != '' or splitStatus == 0">
            split_status = #{splitStatus},
        </if>
        <if test="beforeCancelStatus != null and beforeCancelStatus != '' or beforeCancelStatus == 0">
            before_cancel_status = #{beforeCancelStatus},
        </if>
        <if test="supplierCode != null and supplierCode != ''">
            supplier_code = #{supplierCode},
        </if>
        <if test="repertoryCode != null and repertoryCode != ''">
            repertory_code = #{repertoryCode},
        </if>
        <if test="sendingId != null and sendingId != ''">
            sending_id = #{sendingId},
        </if>
        <if test="goodsCoupon != null">
            goods_coupon = #{goodsCoupon},
        </if>
        update_by_id = #{updateById},
        update_by_name = #{updateByName},
        update_time = sysdate()
        where id = #{id}
    </update>

    <insert id="insert">
        insert into order_store_info (order_id, order_code, order_status, before_cancel_status, sending_id,
                                      order_origin_type, order_channel, supplier_code, supplier_name, repertory_code,
                                      repertory_name,
                                      order_level, split_status, primary_code, return_status,
                                      order_type, pay_status, franchisee_id, store_id, store_name, total_price,
                                      actual_price, goods_coupon,
                                      create_time, create_by_id, create_by_name, update_time, update_by_id,
                                      update_by_name)
        values (#{orderId}, #{orderCode}, #{orderStatus}, #{beforeCancelStatus}, #{sendingId},
                #{orderOriginType}, #{orderChannel}, #{supplierCode}, #{supplierName}, #{repertoryCode},
                #{repertoryName},
                #{orderLevel}, #{splitStatus}, #{primaryCode}, #{returnStatus},
                #{orderType}, #{payStatus}, #{franchiseeId}, #{storeId}, #{storeName}, #{totalPrice}, #{actualPrice},
                #{goodsCoupon},
                sysdate(), #{createById}, #{createByName}, sysdate(), #{updateById}, #{updateByName})
    </insert>

    <select id="findOrderList" parameterType="com.aiqin.mgs.order.api.domain.OrderStoreOrderInfo"
            resultType="com.aiqin.mgs.order.api.domain.OrderStoreOrderInfo">
        select a1.id as id,
        a1.order_id as orderId,
        a1.order_code as orderCode,
        a1.order_status as orderStatus,
        a1.before_cancel_status as beforeCancelStatus,
        a1.order_origin_type as orderOriginType,
        a1.order_channel as orderChannel,
        a1.supplier_code as supplierCode,
        a1.supplier_name as supplierName,
        a1.repertory_code as repertoryCode,
        a1.repertory_name as repertoryName,
        a1.return_status as returnStatus,
        a1.pay_status as payStatus,
        a1.order_type as orderType,
        a1.franchisee_id as franchiseeId,
        a1.store_id as storeId,
        a1.store_name as storeName,
        a1.total_price as totalPrice,
        a1.actual_price as actualPrice,
        a1.order_level as orderLevel,
        a1.split_status as splitStatus,
        a1.primary_code as primaryCode,
        a1.goods_coupon as goodsCoupon,
        a1.sending_id as sendingId,
        a1.create_time as createTime,
        a1.create_by_id as createById,
        a1.create_by_name as createByName,
        a1.update_time as updateTime,
        a1.update_by_id as updateById,
        a1.update_by_name as updateByName
        from order_store_info a1
        where 1 = 1
        <if test="orderCode != null and orderCode != ''">
            and a1.order_code like concat('%',#{orderCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="storeName != null and storeName != ''">
            and a1.store_name like concat('%',#{storeName,jdbcType=VARCHAR},'%')
        </if>
        <if test="orderStatus != null and orderStatus != '' or orderStatus == 0 ">
            and a1.order_status = #{orderStatus}
        </if>
        <if test="payStatus != null and payStatus != '' or payStatus == 0 ">
            and a1.pay_status = #{payStatus}
        </if>
        <if test="orderType != null and orderType != '' or orderType == 0 ">
            and a1.order_type = #{orderType}
        </if>
        <if test="createTimeBegin != null and createTimeBegin != ''">
            and date_format(a1.create_time,'%Y-%m-%d') &gt;= #{createTimeBegin,jdbcType=VARCHAR}
        </if>
        <if test="createTimeEnd != null and createTimeEnd != ''">
            and date_format(a1.create_time,'%Y-%m-%d') &lt;= #{createTimeEnd,jdbcType=VARCHAR}
        </if>
        order by a1.create_time desc
    </select>

    <select id="findSecondaryOrderList" parameterType="java.util.List"
            resultType="com.aiqin.mgs.order.api.domain.OrderStoreOrderInfo">
        select a1.id as id,
        a1.order_id as orderId,
        a1.order_code as orderCode,
        a1.order_status as orderStatus,
        a1.before_cancel_status as beforeCancelStatus,
        a1.order_origin_type as orderOriginType,
        a1.order_channel as orderChannel,
        a1.supplier_code as supplierCode,
        a1.supplier_name as supplierName,
        a1.repertory_code as repertoryCode,
        a1.repertory_name as repertoryName,
        a1.return_status as returnStatus,
        a1.pay_status as payStatus,
        a1.order_type as orderType,
        a1.franchisee_id as franchiseeId,
        a1.store_id as storeId,
        a1.store_name as storeName,
        a1.total_price as totalPrice,
        a1.actual_price as actualPrice,
        a1.order_level as orderLevel,
        a1.split_status as splitStatus,
        a1.primary_code as primaryCode,
        a1.goods_coupon as goodsCoupon,
        a1.sending_id as sendingId,
        a1.create_time as createTime,
        a1.create_by_id as createById,
        a1.create_by_name as createByName,
        a1.update_time as updateTime,
        a1.update_by_id as updateById,
        a1.update_by_name as updateByName
        from order_store_info a1
        where 1 = 1
        and order_level = 2
        and primary_code in (
        <foreach collection="primaryOrderCodeList" item="primaryCode" separator=",">
            '${primaryCode}'
        </foreach>
        )
        order by create_time desc
    </select>

</mapper>

