<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.OrderStoreOrderReceivingDao">

    <select id="getOrderReceivingByOrderId" parameterType="java.lang.String"
            resultType="com.aiqin.mgs.order.api.domain.OrderStoreOrderReceiving">
        select id              as id,
               order_id        as orderId,
               receive_id      as receiveId,
               receive_name    as receiveName,
               receive_address as receiveAddress,
               receive_phone   as receivePhone,
               bill_status     as billStatus,
               create_time     as createTime,
               create_by_id    as createById,
               create_by_name  as createByName,
               update_time     as updateTime,
               update_by_id    as updateById,
               update_by_name  as updateByName
        from order_store_order_receiving
        where 1 = 1
          and order_id = #{orderId}
    </select>

</mapper>
