<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.PrestorageOrderSupplyDetailDao">
    <resultMap id="OrderSupplyMapping" type="com.aiqin.mgs.order.api.domain.PrestorageOrderSupplyDetail">
        <result column="prestorage_order_supply_detail_id" jdbcType="VARCHAR" property="prestorageOrderSupplyDetailId"/>
        <result column="prestorage_order_supply_id" jdbcType="VARCHAR" property="prestorageOrderSupplyId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_detail_id" jdbcType="VARCHAR" property="orderDetailId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="return_amount" jdbcType="INTEGER" property="returnAmount"/>
        <result column="return_prestorage_amount" jdbcType="INTEGER" property="returnPrestorageAmount"/>
        <result column="supply_amount" jdbcType="INTEGER" property="supplyAmount"/>
        <result column="prestorage_order_supply_status" jdbcType="TINYINT" property="prestorageOrderSupplyStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <resultMap id="OrderLogs" type="com.aiqin.mgs.order.api.domain.response.PrestorageOrderLogsInfo">
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="member_name" jdbcType="VARCHAR" property="memberName"/>
        <result column="member_phone" jdbcType="VARCHAR" property="memberPhone"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="store_name" jdbcType="VARCHAR" property="storeName"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="spu_code" jdbcType="VARCHAR" property="spuCode"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="supply_amount" jdbcType="INTEGER" property="supplyAmount"/>
        <result column="surplus_amount" jdbcType="INTEGER" property="surplusAmount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="selectprestorageorderDetailsById" resultMap="OrderSupplyMapping">
        select * from prestorage_order_supply_detail where prestorage_order_supply_detail_id=#{prestorageOrderSupplyDetailId}
    </select>
    <select id="selectprestorageorderDetailsListBySupplyId" resultMap="OrderSupplyMapping">
         select * from prestorage_order_supply_detail where prestorage_order_supply_id=#{prestorageOrderSupplyId}
    </select>

    <select id="selectprestorageorderDetailsListByOrderId" resultMap="OrderSupplyMapping">
         select * from prestorage_order_supply_detail where order_id=#{orderId}
    </select>
    <select id="selectPrestorageOrderDetailByOrderId" resultMap="OrderSupplyMapping">
         select d.* from prestorage_order_supply_detail d ,prestorage_order_supply s where s.prestorage_order_supply_id=d.prestorage_order_supply_id and  s.order_id=#{orderId}
    </select>
    <select id="selectPrestorageOrderLogs" resultMap="OrderLogs"
            parameterType="com.aiqin.mgs.order.api.domain.OrderQuery">
        select
        d.member_name,d.member_phone,d.distributor_name as store_name,l.product_name,l.bar_code,l.sku_code,l.supply_amount,l.surplus_amount,d.order_id,d.order_code,l.create_time
        from prestorage_order_supply_logs l ,prestorage_order_supply d

        where d.prestorage_order_supply_id=l.prestorage_order_supply_id

        <if test="memberPhone!=null and memberPhone!=''">
            and d.member_phone like concat('%',#{memberPhone,jdbcType=VARCHAR},'%')
        </if>
        <if test="orderCode!=null and orderCode!=''">
            and d.order_code =#{orderCode}
        </if>
        <if test="distributorId!=null and distributorId!='' ">
            and d.distributor_id = #{distributorId}
        </if>
        <if test="distributorCode!=null and distributorCode!='' ">
            and d.distributor_code = #{distributorCode}
        </if>
        <if test="listDistributorId != null">
            and d.distributor_id in (
            <foreach collection="listDistributorId" item="distributorId" separator=",">
                '${distributorId}'
            </foreach>
            )
        </if>
        <if test="barCodeAndSku!=null and barCodeAndSku!=''">
            and (l.bar_code= #{barCodeAndSku,jdbcType=VARCHAR} or l.sku_code = #{barCodeAndSku,jdbcType=VARCHAR})
        </if>
        <if test="beginTime!=null ">
            and l.create_time &gt;= #{beginTime}
        </if>
        <if test="endTime!=null ">
            and l.create_time &lt;= #{endTime}
        </if>
        ORDER BY l.id desc
    </select>
    <select id="selectPrestorageOrderLogsCount" resultType="integer"
            parameterType="com.aiqin.mgs.order.api.domain.OrderQuery">
        select count(1) from prestorage_order_supply_logs l ,prestorage_order_supply d

        where d.prestorage_order_supply_id=l.prestorage_order_supply_id

        <if test="memberPhone!=null and memberPhone!=''">
            and d.member_phone like concat('%',#{memberPhone,jdbcType=VARCHAR},'%')
        </if>
        <if test="distributorId!=null and distributorId!='' ">
            and d.distributor_id = #{distributorId}
        </if>
        <if test="distributorCode!=null and distributorCode!='' ">
            and d.distributor_code = #{distributorCode}
        </if>
        <if test="listDistributorId != null">
            and d.distributor_id in (
            <foreach collection="listDistributorId" item="distributorId" separator=",">
                '${distributorId}'
            </foreach>
            )
        </if>
        <if test="barCodeAndSku!=null and barCodeAndSku!=''">
            and (l.bar_code= #{barCodeAndSku,jdbcType=VARCHAR} or l.sku_code = #{barCodeAndSku,jdbcType=VARCHAR})
        </if>
        <if test="beginTime!=null ">
            and d.create_time &gt;= #{beginTime}
        </if>
        <if test="endTime!=null ">
            and d.create_time &lt;= #{endTime}
        </if>
    </select>

    <!--订单中商品sku数量-->
    <select id="getSkuSum"  parameterType="com.aiqin.mgs.order.api.domain.OrderDetailQuery" resultType="java.lang.Integer" >
         SELECT COUNT(prestorage_order_supply_detail_id) AS acount FROM prestorage_order_supply_detail WHERE order_code=#{orderId}
    </select>

    <update id="updateById" parameterType="com.aiqin.mgs.order.api.domain.PrestorageOrderSupplyDetail">
        update prestorage_order_supply_detail set update_time=CURRENT_TIMESTAMP
        <if test="returnAmount!=null and returnAmount!='' ">
            ,return_amount=#{returnAmount}
        </if>
        <if test="returnPrestorageAmount!=null ">
            ,return_prestorage_amount = #{returnPrestorageAmount}
        </if>
        <if test="supplyAmount!=null ">
            ,supply_amount = #{supplyAmount}
        </if>
        <if test="prestorageOrderSupplyStatus!=null ">
            ,prestorage_order_supply_status = #{prestorageOrderSupplyStatus}
        </if>
        <if test="updateBy!=null ">
            ,update_by = #{updateBy}
        </if>
        where prestorage_order_supply_detail_id = #{prestorageOrderSupplyDetailId}

    </update>
<update id="updateRejectPrestoragProduct" parameterType="com.aiqin.mgs.order.api.domain.request.PrestorageOrderSupplyDetailVo">
    update prestorage_order_supply_detail set update_time=CURRENT_TIMESTAMP

    <if test="returnPrestorageAmount!=null ">
        ,return_prestorage_amount = #{returnPrestorageAmount}
    </if>
    <if test="returnAmount!=null ">
        ,return_amount = #{returnAmount}
    </if>

    <if test="prestorageOrderSupplyStatus!=null ">
        ,prestorage_order_supply_status = #{prestorageOrderSupplyStatus}
    </if>
    <if test="updateBy!=null ">
        ,update_by = #{updateBy}
    </if>
    where prestorage_order_supply_detail_id = #{prestorageOrderSupplyDetailId}
    <if test="oldReturnAmount!=null ">
       and return_amount = #{oldReturnAmount}
    </if>
    <if test="oldReturnPrestorageAmount!=null ">
        and return_prestorage_amount = #{oldReturnPrestorageAmount}
    </if>



</update>
    <insert id="addPrestorageOrderDetail" parameterType="com.aiqin.mgs.order.api.domain.PrestorageOrderSupplyDetail">
        insert into prestorage_order_supply_detail
        (prestorage_order_supply_detail_id,
        prestorage_order_supply_id,
        <if test="orderId!=null">
            order_id,
        </if>
        <if test="orderDetailId!=null">
            order_detail_id,
        </if>
        <if test="productName!=null">
            product_name,
        </if>
        <if test="skuCode!=null">
            sku_code,
        </if>
        <if test="barCode!=null">
            bar_code,
        </if>
        <if test="amount!=null">
            amount,
        </if>
        <if test="returnAmount!=null">
            return_amount,
        </if>
        <if test="returnPrestorageAmount!=null">
            return_prestorage_amount,
        </if>
        <if test="supplyAmount!=null">
            supply_amount,
        </if>


        <if test="prestorageOrderSupplyStatus!=null">
            prestorage_order_supply_status,
        </if>
        create_time,create_by)
        values
        (#{prestorageOrderSupplyDetailId},#{prestorageOrderSupplyId},
        <if test="orderId!=null">
            #{orderId},
        </if>
        <if test="orderDetailId!=null">
            #{orderDetailId},
        </if>
        <if test="productName!=null">
            #{productName},
        </if>
        <if test="skuCode!=null">
            #{skuCode},
        </if>
        <if test="barCode!=null">
            #{barCode},
        </if>
        <if test="amount!=null">
            #{amount},
        </if>
        <if test="returnAmount!=null">
            #{returnAmount},
        </if>
        <if test="returnPrestorageAmount!=null">
            #{returnPrestorageAmount},
        </if>
        <if test="supplyAmount!=null">
            #{supplyAmount},
        </if>
        <if test="prestorageOrderSupplyStatus!=null">
            #{prestorageOrderSupplyStatus},
        </if>
        CURRENT_TIMESTAMP,#{createBy})
    </insert>
</mapper>