<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.PurchaseOrderDetailBatchDao">
  <resultMap id="BaseResultMap" type="com.aiqin.mgs.order.api.domain.PurchaseOrderDetailBatch">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_order_detail_batch_id" jdbcType="VARCHAR" property="purchaseOrderDetailBatchId" />
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="product_date" jdbcType="TIMESTAMP" property="productDate" />
    <result column="batch_remark" jdbcType="VARCHAR" property="batchRemark" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="purchase_whole" jdbcType="BIGINT" property="purchaseWhole" />
    <result column="purchase_single" jdbcType="BIGINT" property="purchaseSingle" />
    <result column="base_product_spec" jdbcType="BIGINT" property="baseProductSpec" />
    <result column="total_count" jdbcType="BIGINT" property="totalCount" />
    <result column="actual_total_count" jdbcType="BIGINT" property="actualTotalCount" />
    <result column="line_code" jdbcType="BIGINT" property="lineCode" />
    <result column="use_status" jdbcType="BIT" property="useStatus" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_order_detail_batch_id, purchase_order_code, sku_code, sku_name, batch_code, 
    product_date, batch_remark, unit_code, unit_name, purchase_whole, purchase_single, 
    base_product_spec, total_count, actual_total_count, line_code, use_status, create_by_id, 
    create_by_name, update_by_id, update_by_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_order_detail_batch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from purchase_order_detail_batch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.mgs.order.api.domain.PurchaseOrderDetailBatch">
    insert into purchase_order_detail_batch (purchase_order_detail_batch_id, purchase_order_code,
      sku_code, sku_name, batch_code, 
      product_date, batch_remark, unit_code, 
      unit_name, purchase_whole, purchase_single, 
      base_product_spec, total_count, actual_total_count, 
      line_code, use_status, create_by_id, 
      create_by_name, update_by_id, update_by_name, 
      create_time, update_time)
    values (#{purchaseOrderDetailBatchId,jdbcType=VARCHAR}, #{purchaseOrderCode,jdbcType=VARCHAR},
      #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, #{batchCode,jdbcType=VARCHAR}, 
      #{productDate,jdbcType=TIMESTAMP}, #{batchRemark,jdbcType=VARCHAR}, #{unitCode,jdbcType=VARCHAR}, 
      #{unitName,jdbcType=VARCHAR}, #{purchaseWhole,jdbcType=BIGINT}, #{purchaseSingle,jdbcType=BIGINT}, 
      #{baseProductSpec,jdbcType=BIGINT}, #{totalCount,jdbcType=BIGINT}, #{actualTotalCount,jdbcType=BIGINT}, 
      #{lineCode,jdbcType=BIGINT}, #{useStatus,jdbcType=BIT}, #{createById,jdbcType=VARCHAR}, 
      #{createByName,jdbcType=VARCHAR}, #{updateById,jdbcType=VARCHAR}, #{updateByName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.mgs.order.api.domain.PurchaseOrderDetailBatch">
    insert into purchase_order_detail_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseOrderDetailBatchId != null">
        purchase_order_detail_batch_id,
      </if>
      <if test="purchaseOrderCode != null">
        purchase_order_code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="batchCode != null">
        batch_code,
      </if>
      <if test="productDate != null">
        product_date,
      </if>
      <if test="batchRemark != null">
        batch_remark,
      </if>
      <if test="unitCode != null">
        unit_code,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="purchaseWhole != null">
        purchase_whole,
      </if>
      <if test="purchaseSingle != null">
        purchase_single,
      </if>
      <if test="baseProductSpec != null">
        base_product_spec,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="actualTotalCount != null">
        actual_total_count,
      </if>
      <if test="lineCode != null">
        line_code,
      </if>
      <if test="useStatus != null">
        use_status,
      </if>
      <if test="createById != null">
        create_by_id,
      </if>
      <if test="createByName != null">
        create_by_name,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="updateByName != null">
        update_by_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchaseOrderDetailBatchId != null">
        #{purchaseOrderDetailBatchId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderCode != null">
        #{purchaseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null">
        #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null">
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batchRemark != null">
        #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseWhole != null">
        #{purchaseWhole,jdbcType=BIGINT},
      </if>
      <if test="purchaseSingle != null">
        #{purchaseSingle,jdbcType=BIGINT},
      </if>
      <if test="baseProductSpec != null">
        #{baseProductSpec,jdbcType=BIGINT},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=BIGINT},
      </if>
      <if test="actualTotalCount != null">
        #{actualTotalCount,jdbcType=BIGINT},
      </if>
      <if test="lineCode != null">
        #{lineCode,jdbcType=BIGINT},
      </if>
      <if test="useStatus != null">
        #{useStatus,jdbcType=BIT},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.mgs.order.api.domain.PurchaseOrderDetailBatch">
    update purchase_order_detail_batch
    <set>
      <if test="purchaseOrderDetailBatchId != null">
        purchase_order_detail_batch_id = #{purchaseOrderDetailBatchId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderCode != null">
        purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null">
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null">
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batchRemark != null">
        batch_remark = #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        unit_code = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseWhole != null">
        purchase_whole = #{purchaseWhole,jdbcType=BIGINT},
      </if>
      <if test="purchaseSingle != null">
        purchase_single = #{purchaseSingle,jdbcType=BIGINT},
      </if>
      <if test="baseProductSpec != null">
        base_product_spec = #{baseProductSpec,jdbcType=BIGINT},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=BIGINT},
      </if>
      <if test="actualTotalCount != null">
        actual_total_count = #{actualTotalCount,jdbcType=BIGINT},
      </if>
      <if test="lineCode != null">
        line_code = #{lineCode,jdbcType=BIGINT},
      </if>
      <if test="useStatus != null">
        use_status = #{useStatus,jdbcType=BIT},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.mgs.order.api.domain.PurchaseOrderDetailBatch">
    update purchase_order_detail_batch
    set purchase_order_detail_batch_id = #{purchaseOrderDetailBatchId,jdbcType=VARCHAR},
      purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      batch_code = #{batchCode,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      batch_remark = #{batchRemark,jdbcType=VARCHAR},
      unit_code = #{unitCode,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      purchase_whole = #{purchaseWhole,jdbcType=BIGINT},
      purchase_single = #{purchaseSingle,jdbcType=BIGINT},
      base_product_spec = #{baseProductSpec,jdbcType=BIGINT},
      total_count = #{totalCount,jdbcType=BIGINT},
      actual_total_count = #{actualTotalCount,jdbcType=BIGINT},
      line_code = #{lineCode,jdbcType=BIGINT},
      use_status = #{useStatus,jdbcType=BIT},
      create_by_id = #{createById,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      update_by_id = #{updateById,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>