<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiqin.mgs.order.api.dao.RelatedSalesDao" >
  <resultMap id="BaseResultMap" type="com.aiqin.mgs.order.api.domain.RelatedSales" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="salse_category_name" property="salseCategoryName" jdbcType="VARCHAR" />
    <result column="salse_category_id" property="salseCategoryId" jdbcType="VARCHAR" />
    <result column="first_sku" property="firstSku" jdbcType="VARCHAR" />
    <result column="first_sku_name" property="firstSkuName" jdbcType="VARCHAR" />
    <result column="secondly_sku" property="secondlySku" jdbcType="VARCHAR" />
    <result column="secondly_sku_name" property="secondlySkuName" jdbcType="VARCHAR" />
    <result column="last_sku" property="lastSku" jdbcType="VARCHAR" />
    <result column="last_sku_name" property="lastSkuName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, salse_category_name, salse_category_id, first_sku,first_sku_name, secondly_sku,secondly_sku_name, last_sku,last_sku_name, status,
    create_time, update_time
  </sql>
  <select id="selectBySalseCategoryId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from related_sales
    where salse_category_id = #{salseCategoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from related_sales
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    insert into related_sales
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="salseCategoryName != null" >
        salse_category_name,
      </if>
      <if test="salseCategoryId != null" >
        salse_category_id,
      </if>
      <if test="firstSku != null" >
        first_sku,
      </if>
      <if test="firstSkuName != null" >
        first_sku_name,
      </if>
      <if test="secondlySku != null" >
        secondly_sku,
      </if>
      <if test="secondlySkuName != null" >
        secondly_sku_name,
      </if>
      <if test="lastSku != null" >
        last_sku,
      </if>
      <if test="lastSkuName != null" >
        last_sku_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="salseCategoryName != null" >
        #{salseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="salseCategoryId != null" >
        #{salseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="firstSku != null" >
        #{firstSku,jdbcType=VARCHAR},
      </if>
      <if test="firstSkuName != null" >
        #{firstSkuName,jdbcType=VARCHAR},
      </if>
      <if test="secondlySku != null" >
        #{secondlySku,jdbcType=VARCHAR},
      </if>
      <if test="secondlySkuName != null" >
        #{secondlySkuName,jdbcType=VARCHAR},
      </if>
      <if test="lastSku != null" >
        #{lastSku,jdbcType=VARCHAR},
      </if>
      <if test="lastSkuName != null" >
        #{lastSkuName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    update related_sales
    <set >
      <if test="salseCategoryName != null" >
        salse_category_name = #{salseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="salseCategoryId != null" >
        salse_category_id = #{salseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="firstSku != null" >
        first_sku = #{firstSku,jdbcType=VARCHAR},
      </if>
      <if test="firstSkuName != null" >
        first_sku_name = #{firstSkuName,jdbcType=VARCHAR},
      </if>
      <if test="secondlySku != null" >
        secondly_sku = #{secondlySku,jdbcType=VARCHAR},
      </if>
      <if test="secondlySkuName != null" >
        secondly_sku_name = #{secondlySkuName,jdbcType=VARCHAR},
      </if>
      <if test="lastSku != null" >
        last_sku = #{lastSku,jdbcType=VARCHAR},
      </if>
      <if test="lastSkuName != null" >
        last_sku_name = #{lastSkuName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.aiqin.mgs.order.api.domain.request.RelatedSalesVo" >
    select
    <include refid="Base_Column_List" />
    from related_sales
    <where>
      <if test="salseCategoryId != null and salseCategoryId != ''" >
        and salse_category_id = #{salseCategoryId,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <update id="updateStatus" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    update related_sales
    set status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>