<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiqin.mgs.order.api.dao.RelatedSalesDao" >
  <resultMap id="BaseResultMap" type="com.aiqin.mgs.order.api.domain.RelatedSales" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="salse_category_name" property="salseCategoryName" jdbcType="VARCHAR" />
    <result column="salse_category_id" property="salseCategoryId" jdbcType="VARCHAR" />
    <result column="first_sku" property="firstSku" jdbcType="VARCHAR" />
    <result column="secondly_sku" property="secondlySku" jdbcType="VARCHAR" />
    <result column="last_sku" property="lastSku" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, salse_category_name, salse_category_id, first_sku, secondly_sku, last_sku, status, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from related_sales
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from related_sales
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    insert into related_sales (id, salse_category_name, salse_category_id, 
      first_sku, secondly_sku, last_sku, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{salseCategoryName,jdbcType=VARCHAR}, #{salseCategoryId,jdbcType=VARCHAR}, 
      #{firstSku,jdbcType=VARCHAR}, #{secondlySku,jdbcType=VARCHAR}, #{lastSku,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    insert into related_sales
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="salseCategoryName != null" >
        salse_category_name,
      </if>
      <if test="salseCategoryId != null" >
        salse_category_id,
      </if>
      <if test="firstSku != null" >
        first_sku,
      </if>
      <if test="secondlySku != null" >
        secondly_sku,
      </if>
      <if test="lastSku != null" >
        last_sku,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="salseCategoryName != null" >
        #{salseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="salseCategoryId != null" >
        #{salseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="firstSku != null" >
        #{firstSku,jdbcType=VARCHAR},
      </if>
      <if test="secondlySku != null" >
        #{secondlySku,jdbcType=VARCHAR},
      </if>
      <if test="lastSku != null" >
        #{lastSku,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    update related_sales
    <set >
      <if test="salseCategoryName != null" >
        salse_category_name = #{salseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="salseCategoryId != null" >
        salse_category_id = #{salseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="firstSku != null" >
        first_sku = #{firstSku,jdbcType=VARCHAR},
      </if>
      <if test="secondlySku != null" >
        secondly_sku = #{secondlySku,jdbcType=VARCHAR},
      </if>
      <if test="lastSku != null" >
        last_sku = #{lastSku,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.mgs.order.api.domain.RelatedSales" >
    update related_sales
    set salse_category_name = #{salseCategoryName,jdbcType=VARCHAR},
      salse_category_id = #{salseCategoryId,jdbcType=VARCHAR},
      first_sku = #{firstSku,jdbcType=VARCHAR},
      secondly_sku = #{secondlySku,jdbcType=VARCHAR},
      last_sku = #{lastSku,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>