<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.order.ErpOrderInfoDao">

    <select id="select" parameterType="com.aiqin.mgs.order.api.domain.po.order.ErpOrderInfo"
            resultType="com.aiqin.mgs.order.api.domain.response.ReportStoreInfoResponse">
        select count(*),business_stage_code from store_info
        where store_code in ('0000011','60000016','60000043','60000552','60000691')
        GROUP BY business_stage_code
    </select>

</mapper>

