<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiqin.mgs.order.api.dao.ReportStoreGoodsDao" >
  <resultMap id="BaseResultMap" type="com.aiqin.mgs.order.api.domain.ReportStoreGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="tong_ratio" property="tongRatio" jdbcType="DECIMAL" />
    <result column="chain_ratio" property="chainRatio" jdbcType="DECIMAL" />
    <result column="count_time" property="countTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_name, store_id, store_code, brand_id, brand_name, num, amount, tong_ratio, 
    chain_ratio, count_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from report_store_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from report_store_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.aiqin.mgs.order.api.domain.ReportStoreGoods" >
    insert into report_store_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="tongRatio != null" >
        tong_ratio,
      </if>
      <if test="chainRatio != null" >
        chain_ratio,
      </if>
      <if test="countTime != null" >
        count_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="tongRatio != null" >
        #{tongRatio,jdbcType=DECIMAL},
      </if>
      <if test="chainRatio != null" >
        #{chainRatio,jdbcType=DECIMAL},
      </if>
      <if test="countTime != null" >
        #{countTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.mgs.order.api.domain.ReportStoreGoods" >
    update report_store_goods
    <set >
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        store_code = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="tongRatio != null" >
        tong_ratio = #{tongRatio,jdbcType=DECIMAL},
      </if>
      <if test="chainRatio != null" >
        chain_ratio = #{chainRatio,jdbcType=DECIMAL},
      </if>
      <if test="countTime != null" >
        count_time = #{countTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.aiqin.mgs.order.api.domain.request.ReportStoreGoodsVo" >
    select
    <include refid="Base_Column_List" />
    from report_store_goods
    <where>
      <if test="countTime != null and countTime !=''" >
        count_time = #{countTime,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="selectProductCount" parameterType="java.lang.String" resultType="com.aiqin.mgs.order.api.domain.ReportStoreGoods">
    select SUM(actual_inbound_count) as num,product_brand_code as brandId,product_brand_name as brandName
    FROM order_store_detail
    where order_store_code in (SELECT order_store_code FROM `order_store_info`
        WHERE  DATE_FORMAT(create_time,'%Y-%m')=DATE_FORMAT(now(),'%Y-%m') and store_code=#{storeCode} AND order_status=12)
    GROUP BY product_brand_code
  </select>

  <select id="selectReportStoreGoodsDetail" parameterType="java.lang.String" resultType="com.aiqin.mgs.order.api.domain.ReportStoreGoodsDetail">
    select t.num,t.brandId,t.brandName,t.skuName,t.skuCode,t.amount*t.num as amount from
		(select SUM(actual_inbound_count) as num,product_brand_code as brandId,
            product_brand_name as brandName ,sku_name as skuName,sku_code as skuCode,
            activity_price as amount,DATE_FORMAT(create_time,'%Y-%m') as countTime
        FROM order_store_detail
        where order_store_code in (SELECT order_store_code FROM `order_store_info`
            WHERE DATE_FORMAT(create_time,'%Y-%m')=DATE_FORMAT(now(),'%Y-%m') and store_code=#{storeCode} AND order_status=12)
        GROUP BY brandId,sku_code) t
  </select>

  <select id="selectReportStoreGoods" resultType="com.aiqin.mgs.order.api.domain.ReportStoreGoods" parameterType="com.aiqin.mgs.order.api.domain.ReportStoreGoods" >
    select
    <include refid="Base_Column_List" />
    from report_store_goods where count_time = #{countTime,jdbcType=VARCHAR} and brand_id = #{brandId,jdbcType=VARCHAR} and store_code = #{storeCode,jdbcType=VARCHAR}
  </select>

  <insert id="insertBatch" parameterType="list">
    insert into report_store_goods (
      store_code, brand_id, brand_name,
      num, amount, tong_ratio,
      chain_ratio, count_time, create_time
      )
    values
    <foreach collection="records" item="item" index="index" separator=",">
     (
      #{item.storeCode,jdbcType=VARCHAR}, #{item.brandId,jdbcType=VARCHAR}, #{item.brandName,jdbcType=VARCHAR},
      #{item.num,jdbcType=BIGINT}, #{item.amount,jdbcType=DECIMAL}, #{item.tongRatio,jdbcType=DECIMAL},
      #{item.chainRatio,jdbcType=DECIMAL}, #{item.countTime,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>

</mapper>