<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.SettlementDao">


    <!-- 计算购物车-限时折扣 -->
    <select id="acountDiscount" >
    
         select * from cart where 1=1
         
    </select>
    
    <!-- 计算购物车-优惠券 -->
    <select id="acountCoupon" >
    
         select * from cart where 1=1
         
    </select>
    
    <!-- 计算购物车-无优惠 -->
    <select id="acountCart" >
    
         select * from cart where 1=1
         
    </select>
    
    
    <!-- 插入结算信息表 -->
    <insert id="insertSettlement" >
        insert into settlement_info 
        (order_id,product_sum,freight,total_coupons_discount,point_percentage,activity_discount,order_sum,order_receivable,order_actual,order_change,points,point_discount,create_time,update_time,create_by,update_by)
		values(
		#{orderId},#{productSum},#{freight},#{totalCouponsDiscount},#{pointPercentage},#{activityDiscount},#{orderSum},#{orderReceivable},#{orderActual},#{orderChange},#{points},#{pointDiscount},#{createTime},#{updateTime},#{createBy},#{updateBy})
    </insert>
    
    <!-- 插入订单支付表 -->
    <insert id="insertOrderPay" >
        insert into order_pay 
        (order_id,pay_type,pay_name,pay_status,pay_price,create_time,update_time,create_by,update_by)
        values(
        #{order_id},#{pay_type},#{pay_name},#{pay_status},#{pay_price},#{create_time},#{update_time},#{create_by},#{update_by})
    </insert>
    
    
    
    
    
</mapper>

