<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.StoreMonthDao">
    <sql id="Base_Column_List">
      store_code as storeCode, store_name as storeName,pay_money as payMoney, store_id as storeId
   </sql>
    <select id="selectStoreByName" parameterType="com.aiqin.mgs.order.api.domain.StoreInfo" resultType="com.aiqin.mgs.order.api.domain.StoreMonthResponse">
       SELECT store_name as storeName,store_code as storeCode,pay_money as payMoney
       FROM bi_order_payment_month
        <where>
            stat_year_month = #{contacts}
            <if test="storeName != null and storeName != ''">
                and store_name LIKE CONCAT('%',#{storeName},'%')
            </if>
            <if test="storeCode != null and storeCode != ''">
                and store_code LIKE CONCAT('%',#{storeCode},'%')
            </if>
        </where>
    </select>


</mapper>