<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.mgs.order.api.dao.market.StoreActivityDao">

    <select id="selectActivityReportOrder" resultType="com.aiqin.mgs.order.api.domain.response.market.ActivityReportOrderResp">
        select
          t2.months_day as monthsDay,
          case when member_status=1 then t2.total else 0 end as memberOderCount,
          sum(t2.total) as orderCount, t2.saleAmount as saleAmount
        from(
            select
            t1.months_day , t1.member_status, count(t1.id) AS total, sum(t1.actual_price*t1.amount) as saleAmount
            from(
                select
                 oi.id, date_format(oi.create_time,"%m-%d") as months_day,
                 case when length(TRIM(oi.member_id))>0 then '1' else '0' end as member_status,
                 od.activity_id as activity_id, od.actual_price as actual_price, od.amount as amount
                from order_info oi
                left join order_detail od on oi.order_id = od.order_id
                where oi.distributor_id=#{storeId}
                and oi.create_time <![CDATA[>=]]> #{beginTime}
                and oi.create_time <![CDATA[<=]]> #{finishTime}
            ) AS t1
            where t1.activity_id = #{activityId}
            group by  t1.months_day, t1.member_status order by t1.member_status desc
        ) t2
        group by t2.months_day
    </select>

    <select id="selectActivityReportMemberOrder" resultType="java.lang.Long">
       select count(1)
        from order_detail od
        left join order_info oi on oi.order_id = od.order_id
        where oi.distributor_id = #{storeId}
        and od.activity_id = #{activityId}
        and od.create_time <![CDATA[>=]]> #{beginTime}
        and od.create_time <![CDATA[<=]]> #{finishTime}
        and oi.member_id != null
        group by od.order_id
    </select>

    <select id="selectActivityReportOrderSale" resultType="java.lang.Long">
       select sum(od.actual_price*od.amount)
        from order_detail od
        left join order_info oi on oi.order_id = od.order_id
        where oi.distributor_id = #{storeId}
        and od.activity_id = #{activityId}
        and od.create_time <![CDATA[>=]]> #{beginTime}
        and od.create_time <![CDATA[<=]]> #{finishTime}
        group by od.order_id
    </select>

    <select id="selectActivityOrderPackageSale" resultType="java.lang.Long">

    </select>

</mapper>